# Python environment
venv/
env/
ENV/
.env

# Ignore __pycache__ in EVERY directory
**/__pycache__/
*.py[cod]
*$py.class

# Database / Local Storage
qdrant_storage/

# OS-specific files
.DS_Store
Thumbs.db

# Documents
documents/